* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playpen', sans-serif;
}

header nav {
    border-bottom: 1px solid black;
    background-color: white;
}

header nav .unlisted-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    align-items: center;
}

header nav .unlisted-nav li {
    list-style: none;
}

header nav .unlisted-nav li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

header nav .unlisted-nav li .flower-blue:hover {
    transition: 0.5s;
    color: cornflowerblue;
}

header nav .unlisted-nav li .crimson:hover {
    transition: 0.5s;
    color: crimson;
}

header nav .unlisted-nav li .sea-green:hover {
    transition: 0.5s;
    color: seagreen;
}

header nav .unlisted-nav li .dark-grey:hover {
    transition: 0.5s;
    color: darkgray;
}


header nav .unlisted-nav .item img {
    width: 50px;
    height: 50px;
}

/*section buy console*/

.section-presentation{
    margin-top: 50px;
}

.section-presentation .presentation{
    display: flex;
}

.presentation .image-xbox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation .image-xbox .principal-image img{
    height: 350px;
}

.presentation .image-xbox .carousel{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.presentation .image-xbox .carousel img{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.presentation .description{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.presentation .description .image img{
    height: 150px;
}

.presentation .description .informative-text p{
    margin-bottom: 15px;
    font-size: 25px;
    color: red;
    text-align: center;
}

.presentation .description .button{
    width: 100%;
}

.presentation .description .button button{
    color: #27AE60  ;
    font-size: 20px;
    width: 100%;
    background:greenyellow;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

/*section characteristics*/

.characteristics{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 150px;
}

.characteristics .procesor{
    display: flex;
    padding: 20px;
}

.characteristics .procesor .ryzen-procesor img{
    height: 300px;
}

.characteristics .description-characteristics{
    padding: 0px 20px;
}

.characteristics .description-characteristics p{
    margin-top: 50px;
}

/*tv characteristics*/

.characteristics .tv{
    margin-top: 8rem;
    display: flex;
    padding: 20px;
}

.characteristics .tv .image-tv img{
    height: 300px;

}

/*gamepass characteristics*/

.characteristics .gamepass{
    width: 100%;
    height: 80vh;
    margin-top: 8rem;
    display: flex;
    padding: 20px;
}

.characteristics .gamepass .image-gamepass{
    background-color: #17202A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.characteristics .gamepass .image-gamepass img{
    height: 150px;
}

.characteristics .gamepass .image-gamepass p{
    font-size: 20px;
}

.characteristics .gamepass .description-characteristics{
    background-image: url('https://assets.xboxservices.com/assets/36/e3/36e335da-9137-41ca-b8ec-f0847a0e53a6.jpg?n=Console-NewGames-5Blades-FullBleed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


/*footer*/

footer .container-footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
}

footer .container-footer .body-container{
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    background: #1C2833;
}

/*footer logo*/

footer .container-footer .body-container .logo-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer .container-footer .body-container .logo-content img{
    width: 200px;
    height: 150px;
}

/*footer list about us*/

footer .container-footer .body-container .list ul{
    list-style: none;
}

footer .container-footer .body-container .list ul li{
    margin-top: 10px;
    font-size: 20px;
}

footer .container-footer .body-container .list ul li a{
    text-decoration: none;
    color: white;
}

/*footer social netwokrs*/

footer .container-footer .body-container .social-networks ul{
    list-style: none;
}

footer .container-footer .body-container .social-networks ul li{
    margin-top: 10px;
    font-size: 20px;
}

footer .container-footer .body-container .social-networks ul li a{
    text-decoration: none;
    color: white;
}

footer .container-footer .copy-right{
    padding: 20px 0;
    text-align: center;
    background: #273746 ;
    font-weight: bold;
    color: white;
}

/*footer social networks hover*/

footer .container-footer .body-container .social-networks ul li .facebook:hover{
    color: #2E86C1;
    transition: 0.5s;
}

footer .container-footer .body-container .social-networks ul li .instagram:hover{
    color: #8E44AD ;
    transition: 0.5s;
}

footer .container-footer .body-container .social-networks ul li .tiktok:hover{
    color: #17202A ;
    transition: 0.5s;
}

footer .container-footer .body-container .social-networks ul li .youtube:hover{
    color: #CD1818  ;
    transition: 0.5s;
}