* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playpen', sans-serif;
}

header nav {
    border-bottom: 1px solid black;
    background-color: white;
}

header nav .unlisted-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    align-items: center;
}

header nav .unlisted-nav li {
    list-style: none;
}

header nav .unlisted-nav li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

header nav .unlisted-nav li .flower-blue:hover {
    transition: 0.5s;
    color: cornflowerblue;
}

header nav .unlisted-nav li .crimson:hover {
    transition: 0.5s;
    color: crimson;
}

header nav .unlisted-nav li .sea-green:hover {
    transition: 0.5s;
    color: seagreen;
}

header nav .unlisted-nav li .dark-grey:hover {
    transition: 0.5s;
    color: darkgray;
}


header nav .unlisted-nav .item img {
    width: 50px;
    height: 50px;
}

/*content body*/

main {
    margin-top: 30px;
    padding: 0 20px;
}

main .container {
    display: flex;
}

/*filters*/

main .container .filter {
    width: 20%;
    height: 70vh;
}

/*input filters*/

main .container .filter .filter-content .options {
    margin-top: 5px;
}

/*Ancors filters*/

main .container .filter .ancors {
    margin-top: 10px;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

main .container .filter .ancors .ancor-filter {
    display: flex;
    flex-grow: 1;
}

main .container .filter .ancors a {
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}

/*articles*/

main .container .articles {
    width: 100%;
}

main .container .articles .container-articles {
    display: flex;
    height: 40vh;
    cursor: pointer;
}

main .container .articles .container-articles .image img {
    width: 280px;
    height: 250px;
}

main .container .articles .container-articles .description {
    padding: 10px 0;
}

main .container .articles .container-articles .description .name-of-article h3 {
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

main .container .articles .container-articles .description .publisher {
    margin-top: 7px;
    margin-bottom: 7px;
}

main .container .articles .container-articles .description .opinions {
    margin-top: 7px;
    margin-bottom: 10px;
    display: flex;
}

main .container .articles .container-articles .description .opinions p {
    margin-left: 7px;
}

main .container .articles .container-articles .description .price{
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: red;
    height: 30px;
    border-radius: 10px;
    width: 40%;
}

main .container .articles .container-articles .description .price p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

/*footer*/

footer .container-footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
}

footer .container-footer .body-container{
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    background: #1C2833;
}

/*footer logo*/

footer .container-footer .body-container .logo-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer .container-footer .body-container .logo-content img{
    width: 200px;
    height: 150px;
}

/*footer list about us*/

footer .container-footer .body-container .list ul{
    list-style: none;
}

footer .container-footer .body-container .list ul li{
    margin-top: 10px;
    font-size: 20px;
}

footer .container-footer .body-container .list ul li a{
    text-decoration: none;
    color: white;
}

/*footer social netwokrs*/

footer .container-footer .body-container .social-networks ul{
    list-style: none;
}

footer .container-footer .body-container .social-networks ul li{
    margin-top: 10px;
    font-size: 20px;
}

footer .container-footer .body-container .social-networks ul li a{
    text-decoration: none;
    color: white;
}

footer .container-footer .copy-right{
    padding: 20px 0;
    text-align: center;
    background: #273746 ;
    font-weight: bold;
    color: white;
}

/*footer social networks hover*/

footer .container-footer .body-container .social-networks ul li .facebook:hover{
    color: #2E86C1;
}

footer .container-footer .body-container .social-networks ul li .instagram:hover{
    color: #8E44AD ;
}

footer .container-footer .body-container .social-networks ul li .tiktok:hover{
    color: #17202A ;
}

footer .container-footer .body-container .social-networks ul li .youtube:hover{
    color: #CD1818  ;
}